<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ophelia's Potions and Spells Emporium</title>
    <style>

        body {
            background-color: white;
            padding: 10px;
            font-family: Calibri;
        }
        h1 {
            width: 70%;
            color: #96616B;
            padding: 20px;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 60px;
            background-color: #F3E1DD;
            border-left: 10px solid #96616B;
            text-align: center;
        }
        h2 {
            width: 70%;
            border-left: 8px solid #96616B;
            color: #96616B;
            padding: 10px;
            background-color: #f6eae7;
        }
        p {
            color: #89023E;
            width: 100%;
        }
        table {
            padding: 10px;
            border-top: 10px solid #7D9D91;
            background-color: #F3E1DD;
            border-radius: 10px;
        }
        th {
            padding: 10px;
            text-align: center;
            color: #5C6F68;
        }
        td {
            padding: 5px;
            text-align: center;
            color: #5C6F68;
            background-color: white;
            width: 100px;
        }
        caption {
            color: #546F60;
            padding: 5px;
        }
        fieldset {
            padding: 10px;
            border: 0px;
            border-left: 5px solid #ACC2C0;
            background-color: rgb(229, 242, 235);
            width: 70%;
            line-height: 2;
        }
        legend {
            padding: 5px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: rgb(229, 242, 235);
            border-radius: 10px;
            border: 5px solid #ACC2C0;
            color:#495a54;
        }
        .sidebar {
            width: 20%;
            padding: 5px;
            position: fixed;
            z-index: 1;
            top: 12%;
            right: 2%;
            border: 10px solid #7D9D91;
            border-radius: 2px;
            background-color: #bcd4cb;
            text-align: center;
            height: 70%;
            line-height: 2;
            overflow-x: hidden;
            box-shadow: 10px 10px #5C6F68;
        }
        a {
            color: #5C6F68;
            background-color: #deefec;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }
        a:hover {
            font-size: large;
            padding: 10px;
            background-color: white;
            box-shadow: 5px 5px #5C6F68;
            transition: 0.2s;
        }
        .sidebar h2 {
            width: 90%;
            border: 0px;
            background-color: #bcd4cb;
            color: #5C6F68;
        }
        
        button {
            border: 5px solid #7D9D91;
            border-radius: 5px;
            background-color: #D8ECE6;
            color: #495a54;
        }
        button:hover {
            background-color: white;
            border: 5px solid #F3E1DD;
        }
        button:focus {
            background-color: white;
            border: 5px solid #F3E1DD;
            outline: 1px solid #F3E1DD;
        }
        input {
            border: 2px solid #D8ECE6;
            border-radius: 5px;
            padding: 5px;
            background-color: white;
            color: #495a54;
        }
        input:focus {
            background-color: #faf3f1;
            padding: 7px;
            outline: 1px solid #D8ECE6;
        }

    </style>
</head>
<body>

    <div class="sidebar">

        <h2>NAVIGATION</h2>
        <p></p>

        <p><a href="potions">POTIONS</a></p>
        <p><a href="books">SPELL BOOKS</a></p>
        <p><a href="transactions">TRANSACTIONS</a></p>
        <p><a href="customers">CUSTOMERS</a></p>
        <p><a href="recipes">POTION RECIPES</a></p>
        <p><a href="ingredients">INGREDIENTS</a></p>

    </div>

    {{{body}}}

</body>
</html>