<html>
<head>
    <title>Customers</title>
</head>
<body>
    
    <h1>Customers</h1>

    Here you can add, update, delete, and view the shop's customer information.

<h2>Customer Lookup</h2>

    <form>

        <fieldset>
            <legend>Lookup by name:</legend>

            <label>First name:
                <input type="text" id="first name">
            </label>
            <p></p>
            <label>Last name:
                <input type="text" id="last name">
            </label>
            <p></p>
            <button type="submit">Submit Search</button>

        </fieldset>

    </form>
    <p></p>
    <form>

        <fieldset>
            <legend>Lookup by email:</legend>

            <label>
                <input type="email" id="email">
            </label>

        <button type="submit">Submit Search</button>

        </fieldset>

    </form>


    <h2>Add New Customer</h2>

    <form>

        <fieldset>
            
            <label>First name:
                <input type="text" name="first name">
            </label>
            <p></p>
            <label>Last name:
                <input type="text" name="last name">
            </label>
            <p></p>
            <label>Email:
                <input type="text" name="email">
            </label>
            <p></p>
            <button type="submit">Add customer</button>

        </fieldset>

    </form>

    <h2>Browse All Customers</h2>
    
    <table>
        <caption>Search Results: Customers</caption>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

        </tbody>

    </table>

</body>
</html>