<html>
<head><title>Home Page</title></head>
<body>
    
    <h1>Home Page</h1>

    Ophelia's Shop Management Website!
    Here you can see an overview of all the pages available on your website.

    <p><b>Navigation</b></p>
    <p> [
    <a href="potions">Potions Inventory</a> | 
    <a href="books">Spell Books Inventory</a> | 
    <a href="transactions">Transactions Catalogue</a> | 
    <a href="customers">Customer Information</a> | 
    <a href="recipes">Potion Recipes</a> | 
    <a href="ingredients">Potion Ingredients</a> ]
    </p>

</body>
</html>