<html>
<head>
    <title>Potion Ingredients</title>
</head>
<body>
    
    <h1>Potion Ingredients</h1>

    Here you can add, update, delete, and view the ingredients for the shops's potions.

<h2>Ingredient Search</h2>

    <form>

        <fieldset>

            <legend>Lookup by name:</legend>

            <p>
                <input type="text" id="name">
            </p>

            <p>
                <button type="submit">Submit Search</button>
            </p>

        </fieldset>

    </form>


    <h2>Add New Ingredient</h2>

    <form>

        <fieldset>
            
            <label>Name:
                <input type="text" id="name">
            </label>

            <label>Source:
                <input type="text" id="source">
            </label>

            <button type="submit">Add ingredient to inventory</button>

        </fieldset>

    </form>

    <h2>Browse All Ingredients</h2>
    
    <table>
        <caption>Search Results: Ingredients</caption>
        <thead>
            <tr>
                <th>Ingredient ID</th>
                <th>Ingredient name</th>
                <th>Ingredient source</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

        </tbody>

    </table>

</body>
</html>