<html>
<head>
    <title>Transactions</title>
</head>
<body>
    
    <h1>Transactions</h1>

    Here you can add, update, delete, and view the shop's transaction history.

<h2>Transaction Search</h2>

    <form>

        <fieldset>

            <legend>Lookup by transaction ID:</legend>

            <p>
                <input type="text" id="id">
            </p>

            <p>
                <button type="submit">Submit Search</button>
            </p>

        </fieldset>

    </form>
    <p></p>
    <form>

        <fieldset>

            <legend>Lookup by customer name:</legend>

                First name:
                <input type="text" id="fname">
                <p></p>
                Last name:
                <input type="text" id="lname">
                <p></p>
                <button type="submit">Submit Search</button>

        </fieldset>

    </form>


    <h2>Add/Update Transaction</h2>

    <form>

        <fieldset>
            
            Customer ID:
            <p>
                <input type="text" id="customer">
            </p>
            
            Item purchased:
            <p>
                <input type="text" id="item">
            </p>

            Quantity:
            <p>
                <input type="text" id="quantity">
            </p>

        </fieldset>

    </form>

    <h2>Browse All Transactions</h2>
    
    <table>
        <caption>Search Results: Transactions</caption>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Customer ID</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>example</td>
                <td>example</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

        </tbody>

    </table>

    <h2>Browse All Potion Transaction</h2>
    
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Potion ID</th>
                <th>Potion price</th>
                <th>quantity</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>1</td>
                <td>2</td>
                <td>40</td>
                <td>2</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>1</td>
                <td>2</td>
                <td>40</td>
                <td>2</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>1</td>
                <td>2</td>
                <td>40</td>
                <td>2</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

        </tbody>

    </table>

    <h2>Browse All Spell Book Transaction</h2>
    
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Book ID</th>
                <th>Book price</th>
                <th>quantity</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>1</td>
                <td>1</td>
                <td>100</td>
                <td>1</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>1</td>
                <td>1</td>
                <td>100</td>
                <td>1</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

            <tr>
                <td>1</td>
                <td>1</td>
                <td>100</td>
                <td>1</td>
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>

        </tbody>

    </table>
    

</body>
</html>